@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
}

#resultbtn {
  margin-top: 30px;
  padding: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  /* width: 200%; */
  /* height: 50px; */
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
  animation: label-load 1000ms ease-out;
}

#label {
  color: rgb(255, 70, 70);
  font-size: 22px;
  font-weight: 700;
}
#backbtn {
  margin-top: 30px;
  /* padding-top: 15px;
  padding-bottom: 15px; */
  padding: 15px;
  display: block;
  width: 100%;
  /* height: 50px; */
  border: none;
  outline: none;
  border-radius: 25px;
  color: rgb(99, 15, 15);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  background: linear-gradient(135deg, #7dff12 0%, #ff7d03 100%);
  animation: backbtn-load 800ms ease-out;
}

@keyframes label-load {
  0% {
    transform: translateY(-250%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes backbtn-load {
  0% {
    transform: translateY(+400%);
  }

  100% {
    transform: translateY(0);
  }
}
