{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="container">
        
            <!-- {% if label %}
            <div class="custom-div">predicted : {{ label }}</div> -->
            <!-- <img src="{{ obj.image.url}}" alt="image" class="img-thumbnail"  ><br /> -->
            <!-- {% endif %} -->
        <!--<form action="/predictImage" method="POST">-->
            <div onclick="defaultBtnActive()" class="wrapper">
                <div class="image">
                    <img src="" alt="">
                </div>
                <div class="content">
                    <div class="icon">
                        <i class="fas fa-cloud-upload-alt"></i>
                    </div>
                    <div class="text">
                            No file chosen, yet!
                    </div>
                </div>
                <div id="cancel-btn">
                    <i class="fas fa-times"></i>
                </div>
                <div class="file-name">
                    File name here
                </div>
            
            </div>
            <button onclick="defaultBtnActive()" id="custom-btn">Choose a file</button>
            <!-- <form action="/predictImage/" method="post"  enctype="multipart/form-data"> -->
                <!-- {% csrf_token %} -->
                <form action="/predictImage/" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrfmiddlewaretoken" value="37GcEX2HQVPb6a1WqMbzTYJnP1VNLsct3FIMtklHmTDyN3RbSJEjD80cDA2nYSPq">
                    <p><label for="id_image" hidden="">Image:</label> 
                        <input type="file" name="image" id="id_image" hidden=""></p>
                    <button id="fileUpload">upload</button>
                    <!--<input id="default-btn" type="file" hidden>-->
                </form>
                <!-- {{form.as_p}} -->
                <!-- <button id="fileUpload">upload</button> -->
                <!--<input id="default-btn" type="file" hidden>-->
            <!-- </form> -->
    </div>



  <script>
        const wrapper = document.querySelector(".wrapper");
        const fileName = document.querySelector(".file-name");
        const defaultBtn = document.querySelector("#id_image");
        const uploadBtn = document.querySelector("#fileUpload");
        const customBtn = document.querySelector("#custom-btn");
        const cancelBtn = document.querySelector("#cancel-btn i");
        
        const img = document.querySelector("img");
        img.hidden=true;

        document.getElementById("id_image").hidden = true;
        document.querySelector("[for='id_image']").hidden = true;

        let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
        function defaultBtnActive(){
          defaultBtn.click();
        }
        
        defaultBtn.addEventListener("change", function(){
          const file = this.files[0];
          if(file){
            const reader = new FileReader();
            reader.onload = function(){
              document.querySelector(".content").hidden=true;
              img.hidden=false;
              const result = reader.result;
              img.src = result;
              wrapper.classList.add("active");
            }
            cancelBtn.addEventListener("click", function(){
                document.querySelector(".content").hidden=false;
                img.hidden=true;
              img.src = "";
              wrapper.classList.remove("active");
            })
            /*
            uploadBtn.addEventListener("click", function(){
                console.log("clicked")
                const formData = new FormData()
                formData.append('myFile', file)

                fetch('/predictImage', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.path)
                })
                .catch(error => {
                    console.error(error)
                })
            })*/
            reader.readAsDataURL(file);
          }
          if(this.value){
            let valueStore = this.value.match(regExp);
            fileName.textContent = valueStore;
          }
        });

/*
        function uploadBtnActive(){
          uploadtBtn.click();
        }
        uploadtBtn.addEventListener("change", function(){
        const files = this.files;
        const formData = new FormData()
        formData.append('myFile', files[0])

        fetch('/predictImage', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.path)
        })
        .catch(error => {
            console.error(error)
        })
        }
*/
      </script>
  
</body>
</html>
