{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/uploadImage.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        {% if label %}
        <div id="resultbtn" style="width: 300px;">predicted : <span id="label">{{ label }}</span></div>
        <!-- <img src="{{ obj.image.url}}" alt="image" class="img-thumbnail"  ><br /> -->
        <!-- <img src="{{ image_uri }}" alt="image" class="img-thumbnail"  ><br /> -->
        {% endif %}

        <a id="backbtn" href="/">make new prediction</a>
    </div>    
</body>
</html>